
@font-face {
  font-family: 'MyriadPro-Light';
  src: url('MyriadPro-Light.eot?#iefix') format('embedded-opentype'),  url('MyriadPro-Light.otf')  format('opentype'),
	     url('MyriadPro-Light.woff') format('woff'), url('MyriadPro-Light.ttf')  format('truetype'), url('MyriadPro-Light.svg#MyriadPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
