/*
Theme Name: Table_v2
Theme URI: https://table
Author: DreamsEngine
Author URI: https://wordpress.org/
Description: Twenty Seventeen brings your site to life with immersive featured images and subtle animations. With a focus on business sites, it features multiple sections on the front page as well as widgets, navigation and social menus, a logo, and more. Personalize its asymmetrical grid with a custom color scheme and showcase your multimedia content with post formats. Our default theme for 2017 works great in many languages, for any abilities, and on any device.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: Table
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}
a {
  color: #fff;
  text-decoration: none;
  outline: 0 none;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
}
a:hover,
a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0 none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
header,
nav,
section,
article,
aside,
footer,
hgroup,
figure,
main {
  display: block;
  padding: 0;
  margin: 0;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 0;
}
.clear {
  clear: both;
  font-size: 1px;
  line-height: 1px;
  display: block;
  height: 0;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.last {
  margin: 0;
}
.pad_last {
  padding: 0;
}
.no_bg {
  background: none;
}
.no_bor {
  border: 0 none;
}
.flt_lt {
  float: left;
  display: inline;
}
.flt_rt {
  float: right;
  display: inline;
}
/* reset.css ends here */
html {
  -webkit-text-size-adjust: 100%;
  height: 100% !important;
  scroll-behavior: smooth;
}
body {
  font-family: 'Heebo', sans-serif;
  font-weight: normal;
  height: 100% !important;
  background-color: black;
}
/* reset.css ends */
h2 {
  font-size: 20px;
  line-height: 22px;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  color: #454545;
}
h3 {
  display: inline-block;
  font-size: 26px;
  line-height: 28px;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  color: #c60000;
}
h4 {
  font-size: 24px;
  line-height: 26px;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
h5 {
  font-size: 22px;
  line-height: 24px;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  color: #dd2b2b;
  margin: 0 0 0 23px;
}
h6 {
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  line-height: 25px;
  color: #c51c1d;
  font-weight: bold;
  padding: 0 0 10px 0;
}
p {
  font-size: 18px;
  line-height: 25px;
  font-family: 'Heebo', sans-serif;
  color: #fff;
  padding: 0 0 0px 0;
}
/*-------ms-scrollbar starts-------*/
.mCustomScrollbar {
  -ms-touch-action: pinch-zoom;
  touch-action: pinch-zoom;
}
.mCustomScrollbar.mCS_no_scrollbar,
.mCustomScrollbar.mCS_touch_action {
  -ms-touch-action: auto;
  touch-action: auto;
}
.mCustomScrollBox {
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  outline: 0;
  direction: ltr;
}
.mCSB_container {
  overflow: hidden;
  width: auto;
  height: auto;
}
.mCSB_inside > .mCSB_container {
  margin-right: 30px;
}
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-right: 0;
}
.mCS-dir-rtl > .mCSB_inside > .mCSB_container {
  margin-right: 0;
  margin-left: 30px;
}
.mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-left: 0;
}
.mCSB_scrollTools {
  position: absolute;
  width: 22px;
  height: 100%;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  filter: 'alpha(opacity=75)';
  -ms-filter: 'alpha(opacity=75)';
}
.mCSB_outside + .mCSB_scrollTools {
  right: -26px;
}
.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools,
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
  right: auto;
  left: 0;
}
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
  left: -26px;
}
.mCSB_scrollTools .mCSB_draggerContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
}
.mCSB_scrollTools a + .mCSB_draggerContainer {
  margin: 20px 0;
}
.mCSB_scrollTools .mCSB_draggerRail {
  width: 2px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
.mCSB_scrollTools .mCSB_dragger {
  cursor: pointer;
  width: 100%;
  height: 30px;
  z-index: 1;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  position: relative;
  width: 4px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  text-align: center;
}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
  width: 12px;
}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded
  + .mCSB_draggerRail,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  width: 8px;
}
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonUp {
  display: block;
  position: absolute;
  height: 20px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}
.mCSB_scrollTools .mCSB_buttonDown {
  bottom: 0;
}
.mCSB_horizontal.mCSB_inside > .mCSB_container {
  margin-right: 0;
  margin-bottom: 30px;
}
.mCSB_horizontal.mCSB_outside > .mCSB_container {
  min-height: 100%;
}
.mCSB_horizontal > .mCSB_container.mCS_no_scrollbar_x.mCS_x_hidden {
  margin-bottom: 0;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal {
  width: auto;
  height: 10px;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
}
.mCustomScrollBox + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCustomScrollBox + .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  bottom: -26px;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal a + .mCSB_draggerContainer {
  margin: 0 20px;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  width: 100%;
  height: 2px;
  margin: 7px 0;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger {
  width: 30px;
  height: 100%;
  left: 0;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 4px;
  margin: 6px auto;
}
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded
  .mCSB_dragger_bar,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand
  .mCSB_draggerContainer:hover
  .mCSB_dragger
  .mCSB_dragger_bar {
  height: 12px;
  margin: 2px auto;
}
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded
  + .mCSB_draggerRail,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  height: 8px;
  margin: 4px 0;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft,
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
  display: block;
  position: absolute;
  width: 20px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft {
  left: 0;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
  right: 0;
}
.mCSB_container_wrapper {
  position: absolute;
  height: auto;
  width: auto;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.mCSB_container_wrapper > .mCSB_container {
  padding-right: 0;
  padding-bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_vertical {
  bottom: 20px;
}
.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  right: 20px;
}
.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden + .mCSB_scrollTools.mCSB_scrollTools_vertical {
  bottom: 0;
}
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden
  + .mCSB_scrollTools
  ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  right: 0;
}
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  left: 20px;
}
.mCS-dir-rtl
  > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside
  > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden
  + .mCSB_scrollTools
  ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  left: 0;
}
.mCS-dir-rtl > .mCSB_inside > .mCSB_container_wrapper {
  margin-right: 0;
  margin-left: 30px;
}
.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden > .mCSB_container {
  padding-right: 0;
}
.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden > .mCSB_container {
  padding-bottom: 0;
}
.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-right: 0;
  margin-left: 0;
}
.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden {
  margin-bottom: 0;
}
.mCSB_scrollTools,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight,
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  -webkit-transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
  background: #141615;
}
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar {
  -webkit-transition: width 0.2s ease-out 0.2s, height 0.2s ease-out 0.2s, margin-left 0.2s ease-out 0.2s,
    margin-right 0.2s ease-out 0.2s, margin-top 0.2s ease-out 0.2s, margin-bottom 0.2s ease-out 0.2s,
    opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-out 0.2s, height 0.2s ease-out 0.2s, margin-left 0.2s ease-out 0.2s,
    margin-right 0.2s ease-out 0.2s, margin-top 0.2s ease-out 0.2s, margin-bottom 0.2s ease-out 0.2s,
    opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -o-transition: width 0.2s ease-out 0.2s, height 0.2s ease-out 0.2s, margin-left 0.2s ease-out 0.2s,
    margin-right 0.2s ease-out 0.2s, margin-top 0.2s ease-out 0.2s, margin-bottom 0.2s ease-out 0.2s,
    opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: width 0.2s ease-out 0.2s, height 0.2s ease-out 0.2s, margin-left 0.2s ease-out 0.2s,
    margin-right 0.2s ease-out 0.2s, margin-top 0.2s ease-out 0.2s, margin-bottom 0.2s ease-out 0.2s,
    opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools,
.mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools {
  opacity: 0;
  filter: 'alpha(opacity=0)';
  -ms-filter: 'alpha(opacity=0)';
}
.mCS-autoHide:hover > .mCustomScrollBox > .mCSB_scrollTools,
.mCS-autoHide:hover > .mCustomScrollBox ~ .mCSB_scrollTools,
.mCustomScrollBox:hover > .mCSB_scrollTools,
.mCustomScrollBox:hover ~ .mCSB_scrollTools,
.mCustomScrollbar > .mCustomScrollBox > .mCSB_scrollTools.mCSB_scrollTools_onDrag,
.mCustomScrollbar > .mCustomScrollBox ~ .mCSB_scrollTools.mCSB_scrollTools_onDrag {
  opacity: 1;
  filter: 'alpha(opacity=100)';
  -ms-filter: 'alpha(opacity=100)';
}
.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
  filter: 'alpha(opacity=40)';
  -ms-filter: 'alpha(opacity=40)';
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.75);
  filter: 'alpha(opacity=75)';
  -ms-filter: 'alpha(opacity=75)';
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.85);
  filter: 'alpha(opacity=85)';
  -ms-filter: 'alpha(opacity=85)';
}
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  filter: 'alpha(opacity=90)';
  -ms-filter: 'alpha(opacity=90)';
}
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight,
.mCSB_scrollTools .mCSB_buttonUp {
  background-image: url(mCSB_buttons.png);
  background-repeat: no-repeat;
  opacity: 0.4;
  filter: 'alpha(opacity=40)';
  -ms-filter: 'alpha(opacity=40)';
}
.mCSB_scrollTools .mCSB_buttonUp {
  background-position: 0 0;
}
.mCSB_scrollTools .mCSB_buttonDown {
  background-position: 0 -20px;
}
.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: 0 -40px;
}
.mCSB_scrollTools .mCSB_buttonRight {
  background-position: 0 -56px;
}
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover,
.mCSB_scrollTools .mCSB_buttonUp:hover {
  opacity: 0.75;
  filter: 'alpha(opacity=75)';
  -ms-filter: 'alpha(opacity=75)';
}
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active,
.mCSB_scrollTools .mCSB_buttonUp:active {
  opacity: 0.9;
  filter: 'alpha(opacity=90)';
  -ms-filter: 'alpha(opacity=90)';
}
.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.15);
}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
}
.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.85);
}
.mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.9);
}
.mCS-dark.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -80px 0;
}
.mCS-dark.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -80px -20px;
}
.mCS-dark.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -80px -40px;
}
.mCS-dark.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -80px -56px;
}
.mCS-dark-2.mCSB_scrollTools .mCSB_draggerRail,
.mCS-light-2.mCSB_scrollTools .mCSB_draggerRail {
  width: 4px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.mCS-dark-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-light-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 4px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.mCS-dark-2.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-dark-2.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-light-2.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-light-2.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  width: 100%;
  height: 4px;
  margin: 6px auto;
}
.mCS-light-2.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.85);
}
.mCS-light-2.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-light-2.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
}
.mCS-light-2.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -32px 0;
}
.mCS-light-2.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -32px -20px;
}
.mCS-light-2.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -40px -40px;
}
.mCS-light-2.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -40px -56px;
}
.mCS-dark-2.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.mCS-dark-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.mCS-dark-2.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.85);
}
.mCS-dark-2.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-dark-2.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.9);
}
.mCS-dark-2.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -112px 0;
}
.mCS-dark-2.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -112px -20px;
}
.mCS-dark-2.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -120px -40px;
}
.mCS-dark-2.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -120px -56px;
}
.mCS-dark-thick.mCSB_scrollTools .mCSB_draggerRail,
.mCS-light-thick.mCSB_scrollTools .mCSB_draggerRail {
  width: 4px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-light-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 6px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.mCS-dark-thick.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-light-thick.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  width: 100%;
  height: 4px;
  margin: 6px 0;
}
.mCS-dark-thick.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-light-thick.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 6px;
  margin: 5px auto;
}
.mCS-light-thick.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.85);
}
.mCS-light-thick.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-light-thick.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
}
.mCS-light-thick.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -16px 0;
}
.mCS-light-thick.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -16px -20px;
}
.mCS-light-thick.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -20px -40px;
}
.mCS-light-thick.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -20px -56px;
}
.mCS-dark-thick.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.85);
}
.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.9);
}
.mCS-dark-thick.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -96px 0;
}
.mCS-dark-thick.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -96px -20px;
}
.mCS-dark-thick.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -100px -40px;
}
.mCS-dark-thick.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -100px -56px;
}
.mCS-light-thin.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}
.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-light-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 2px;
}
.mCS-dark-thin.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-light-thin.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  width: 100%;
}
.mCS-dark-thin.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-light-thin.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 2px;
  margin: 7px auto;
}
.mCS-dark-thin.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.15);
}
.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
}
.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.85);
}
.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.9);
}
.mCS-dark-thin.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -80px 0;
}
.mCS-dark-thin.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -80px -20px;
}
.mCS-dark-thin.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -80px -40px;
}
.mCS-dark-thin.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -80px -56px;
}
.mCS-rounded.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
}
.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger,
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger,
.mCS-rounded-dots.mCSB_scrollTools .mCSB_dragger,
.mCS-rounded.mCSB_scrollTools .mCSB_dragger {
  height: 14px;
}
.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-rounded-dots.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-rounded.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 14px;
  margin: 0 1px;
}
.mCS-rounded-dark.mCSB_scrollTools_horizontal .mCSB_dragger,
.mCS-rounded-dots-dark.mCSB_scrollTools_horizontal .mCSB_dragger,
.mCS-rounded-dots.mCSB_scrollTools_horizontal .mCSB_dragger,
.mCS-rounded.mCSB_scrollTools_horizontal .mCSB_dragger {
  width: 14px;
}
.mCS-rounded-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-rounded-dots-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-rounded-dots.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-rounded.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  height: 14px;
  margin: 1px 0;
}
.mCS-rounded-dark.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded
  .mCSB_dragger_bar,
.mCS-rounded-dark.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand
  .mCSB_draggerContainer:hover
  .mCSB_dragger
  .mCSB_dragger_bar,
.mCS-rounded.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded
  .mCSB_dragger_bar,
.mCS-rounded.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand
  .mCSB_draggerContainer:hover
  .mCSB_dragger
  .mCSB_dragger_bar {
  width: 16px;
  height: 16px;
  margin: -1px 0;
}
.mCS-rounded-dark.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded
  + .mCSB_draggerRail,
.mCS-rounded-dark.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand
  .mCSB_draggerContainer:hover
  .mCSB_draggerRail,
.mCS-rounded.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded
  + .mCSB_draggerRail,
.mCS-rounded.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  width: 4px;
}
.mCS-rounded-dark.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded
  .mCSB_dragger_bar,
.mCS-rounded-dark.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand
  .mCSB_draggerContainer:hover
  .mCSB_dragger
  .mCSB_dragger_bar,
.mCS-rounded.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded
  .mCSB_dragger_bar,
.mCS-rounded.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand
  .mCSB_draggerContainer:hover
  .mCSB_dragger
  .mCSB_dragger_bar {
  height: 16px;
  width: 16px;
  margin: 0 -1px;
}
.mCS-rounded-dark.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded
  + .mCSB_draggerRail,
.mCS-rounded-dark.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand
  .mCSB_draggerContainer:hover
  .mCSB_draggerRail,
.mCS-rounded.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded
  + .mCSB_draggerRail,
.mCS-rounded.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  height: 4px;
  margin: 6px 0;
}
.mCS-rounded.mCSB_scrollTools .mCSB_buttonUp {
  background-position: 0 -72px;
}
.mCS-rounded.mCSB_scrollTools .mCSB_buttonDown {
  background-position: 0 -92px;
}
.mCS-rounded.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: 0 -112px;
}
.mCS-rounded.mCSB_scrollTools .mCSB_buttonRight {
  background-position: 0 -128px;
}
.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
}
.mCS-rounded-dark.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.15);
}
.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.85);
}
.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.9);
}
.mCS-rounded-dark.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -80px -72px;
}
.mCS-rounded-dark.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -80px -92px;
}
.mCS-rounded-dark.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -80px -112px;
}
.mCS-rounded-dark.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -80px -128px;
}
.mCS-rounded-dots-dark.mCSB_scrollTools_vertical .mCSB_draggerRail,
.mCS-rounded-dots.mCSB_scrollTools_vertical .mCSB_draggerRail {
  width: 4px;
}
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_draggerRail,
.mCS-rounded-dots-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-rounded-dots.mCSB_scrollTools .mCSB_draggerRail,
.mCS-rounded-dots.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  background-color: transparent;
  background-position: center;
}
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_draggerRail,
.mCS-rounded-dots.mCSB_scrollTools .mCSB_draggerRail {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAANElEQVQYV2NkIAAYiVbw//9/Y6DiM1ANJoyMjGdBbLgJQAX/kU0DKgDLkaQAvxW4HEvQFwCRcxIJK1XznAAAAABJRU5ErkJggg==);
  background-repeat: repeat-y;
  opacity: 0.3;
  filter: 'alpha(opacity=30)';
  -ms-filter: 'alpha(opacity=30)';
}
.mCS-rounded-dots-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-rounded-dots.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  height: 4px;
  margin: 6px 0;
  background-repeat: repeat-x;
}
.mCS-rounded-dots.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -16px -72px;
}
.mCS-rounded-dots.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -16px -92px;
}
.mCS-rounded-dots.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -20px -112px;
}
.mCS-rounded-dots.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -20px -128px;
}
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_draggerRail {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAALElEQVQYV2NkIAAYSVFgDFR8BqrBBEifBbGRTfiPZhpYjiQFBK3A6l6CvgAAE9kGCd1mvgEAAAAASUVORK5CYII=);
}
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -96px -72px;
}
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -96px -92px;
}
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -100px -112px;
}
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -100px -128px;
}
.mCS-3d-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-repeat: repeat-y;
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.5) 0, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, rgba(255, 255, 255, 0.5)),
    color-stop(100%, rgba(255, 255, 255, 0))
  );
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.5) 0, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.5) 0, rgba(255, 255, 255, 0) 100%);
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0.5) 0, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0, rgba(255, 255, 255, 0) 100%);
}
.mCS-3d-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-thick-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-thick.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 0, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(255, 255, 255, 0.5)),
    color-stop(100%, rgba(255, 255, 255, 0))
  );
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.5) 0, rgba(255, 255, 255, 0) 100%);
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.5) 0, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0, rgba(255, 255, 255, 0) 100%);
}
.mCS-3d-dark.mCSB_scrollTools_vertical .mCSB_dragger,
.mCS-3d.mCSB_scrollTools_vertical .mCSB_dragger {
  height: 70px;
}
.mCS-3d-dark.mCSB_scrollTools_horizontal .mCSB_dragger,
.mCS-3d.mCSB_scrollTools_horizontal .mCSB_dragger {
  width: 70px;
}
.mCS-3d-dark.mCSB_scrollTools,
.mCS-3d.mCSB_scrollTools {
  opacity: 1;
  filter: 'alpha(opacity=30)';
  -ms-filter: 'alpha(opacity=30)';
}
.mCS-3d-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-dark.mCSB_scrollTools .mCSB_draggerRail,
.mCS-3d.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d.mCSB_scrollTools .mCSB_draggerRail {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
.mCS-3d-dark.mCSB_scrollTools .mCSB_draggerRail,
.mCS-3d.mCSB_scrollTools .mCSB_draggerRail {
  width: 8px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 0 1px rgba(0, 0, 0, 0.5), inset -1px 0 1px rgba(255, 255, 255, 0.2);
}
.mCS-3d-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-3d-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-3d-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-3d.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-3d.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-3d.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #555;
}
.mCS-3d-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 8px;
}
.mCS-3d-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-3d.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  width: 100%;
  height: 8px;
  margin: 4px 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 -1px 1px rgba(255, 255, 255, 0.2);
}
.mCS-3d-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 8px;
  margin: 4px auto;
}
.mCS-3d.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -32px -72px;
}
.mCS-3d.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -32px -92px;
}
.mCS-3d.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -40px -112px;
}
.mCS-3d.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -40px -128px;
}
.mCS-3d-dark.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 0 1px rgba(0, 0, 0, 0.1);
}
.mCS-3d-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
.mCS-3d-dark.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -112px -72px;
}
.mCS-3d-dark.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -112px -92px;
}
.mCS-3d-dark.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -120px -112px;
}
.mCS-3d-dark.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -120px -128px;
}
.mCS-3d-thick-dark.mCSB_scrollTools,
.mCS-3d-thick.mCSB_scrollTools {
  opacity: 1;
  filter: 'alpha(opacity=30)';
  -ms-filter: 'alpha(opacity=30)';
}
.mCS-3d-thick-dark.mCSB_scrollTools,
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_draggerContainer,
.mCS-3d-thick.mCSB_scrollTools,
.mCS-3d-thick.mCSB_scrollTools .mCSB_draggerContainer {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.mCSB_inside + .mCS-3d-thick-dark.mCSB_scrollTools_vertical,
.mCSB_inside + .mCS-3d-thick.mCSB_scrollTools_vertical {
  right: 1px;
}
.mCS-3d-thick-dark.mCSB_scrollTools_vertical,
.mCS-3d-thick.mCSB_scrollTools_vertical {
  box-shadow: inset 1px 0 1px rgba(0, 0, 0, 0.1), inset 0 0 14px rgba(0, 0, 0, 0.5);
}
.mCS-3d-thick-dark.mCSB_scrollTools_horizontal,
.mCS-3d-thick.mCSB_scrollTools_horizontal {
  bottom: 1px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 14px rgba(0, 0, 0, 0.5);
}
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.4);
  width: 12px;
  margin: 2px;
  position: absolute;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.mCS-3d-thick-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-thick.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  height: 12px;
  width: auto;
}
.mCS-3d-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-thick.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-3d-thick.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-3d-thick.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #555;
}
.mCS-3d-thick.mCSB_scrollTools .mCSB_draggerContainer {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 1px 16px rgba(0, 0, 0, 0.1);
}
.mCS-3d-thick.mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
}
.mCS-3d-thick.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -32px -72px;
}
.mCS-3d-thick.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -32px -92px;
}
.mCS-3d-thick.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -40px -112px;
}
.mCS-3d-thick.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -40px -128px;
}
.mCS-3d-thick-dark.mCSB_scrollTools {
  box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.2);
}
.mCS-3d-thick-dark.mCSB_scrollTools_horizontal {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 14px rgba(0, 0, 0, 0.2);
}
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.4), inset -1px 0 0 rgba(0, 0, 0, 0.2);
}
.mCS-3d-thick-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #777;
}
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_draggerContainer {
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 1px 16px rgba(0, 0, 0, 0.1);
}
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_draggerRail,
.mCS-minimal-dark.mCSB_scrollTools .mCSB_draggerRail,
.mCS-minimal.mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
}
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -112px -72px;
}
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -112px -92px;
}
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -120px -112px;
}
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -120px -128px;
}
.mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical,
.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical {
  right: 0;
  margin: 12px 0;
}
.mCustomScrollBox.mCS-minimal + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCustomScrollBox.mCS-minimal + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCustomScrollBox.mCS-minimal-dark + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCustomScrollBox.mCS-minimal-dark + .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  bottom: 0;
  margin: 0 12px;
}
.mCS-dir-rtl > .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical,
.mCS-dir-rtl > .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical {
  left: 0;
  right: auto;
}
.mCS-minimal-dark.mCSB_scrollTools_vertical .mCSB_dragger,
.mCS-minimal.mCSB_scrollTools_vertical .mCSB_dragger {
  height: 50px;
}
.mCS-minimal-dark.mCSB_scrollTools_horizontal .mCSB_dragger,
.mCS-minimal.mCSB_scrollTools_horizontal .mCSB_dragger {
  width: 50px;
}
.mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  filter: 'alpha(opacity=20)';
  -ms-filter: 'alpha(opacity=20)';
}
.mCS-minimal.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-minimal.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  filter: 'alpha(opacity=50)';
  -ms-filter: 'alpha(opacity=50)';
}
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.2);
  filter: 'alpha(opacity=20)';
  -ms-filter: 'alpha(opacity=20)';
}
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  filter: 'alpha(opacity=50)';
  -ms-filter: 'alpha(opacity=50)';
}
.mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail,
.mCS-light-3.mCSB_scrollTools .mCSB_draggerRail {
  width: 6px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.2);
}
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-light-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 6px;
}
.mCS-dark-3.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-dark-3.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-light-3.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-light-3.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  width: 100%;
  height: 6px;
  margin: 5px 0;
}
.mCS-dark-3.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded
  + .mCSB_draggerRail,
.mCS-dark-3.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail,
.mCS-light-3.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded
  + .mCSB_draggerRail,
.mCS-light-3.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  width: 12px;
}
.mCS-dark-3.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded
  + .mCSB_draggerRail,
.mCS-dark-3.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail,
.mCS-light-3.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand
  .mCSB_dragger.mCSB_dragger_onDrag_expanded
  + .mCSB_draggerRail,
.mCS-light-3.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  height: 12px;
  margin: 2px 0;
}
.mCS-light-3.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -32px -72px;
}
.mCS-light-3.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -32px -92px;
}
.mCS-light-3.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -40px -112px;
}
.mCS-light-3.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -40px -128px;
}
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
}
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.85);
}
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.9);
}
.mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.1);
}
.mCS-dark-3.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -112px -72px;
}
.mCS-dark-3.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -112px -92px;
}
.mCS-dark-3.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -120px -112px;
}
.mCS-dark-3.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -120px -128px;
}
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail,
.mCS-inset-2.mCSB_scrollTools .mCSB_draggerRail,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_draggerRail,
.mCS-inset-3.mCSB_scrollTools .mCSB_draggerRail,
.mCS-inset-dark.mCSB_scrollTools .mCSB_draggerRail,
.mCS-inset.mCSB_scrollTools .mCSB_draggerRail {
  width: 12px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.2);
}
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 6px;
  margin: 3px 5px;
  position: absolute;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.mCS-inset-2-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-2.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-3-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-3.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  height: 6px;
  margin: 5px 3px;
  position: absolute;
  width: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.mCS-inset-2-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-inset-2.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-inset-3-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-inset-3.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-inset-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-inset.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  width: 100%;
  height: 12px;
  margin: 2px 0;
}
.mCS-inset-2.mCSB_scrollTools .mCSB_buttonUp,
.mCS-inset-3.mCSB_scrollTools .mCSB_buttonUp,
.mCS-inset.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -32px -72px;
}
.mCS-inset-2.mCSB_scrollTools .mCSB_buttonDown,
.mCS-inset-3.mCSB_scrollTools .mCSB_buttonDown,
.mCS-inset.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -32px -92px;
}
.mCS-inset-2.mCSB_scrollTools .mCSB_buttonLeft,
.mCS-inset-3.mCSB_scrollTools .mCSB_buttonLeft,
.mCS-inset.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -40px -112px;
}
.mCS-inset-2.mCSB_scrollTools .mCSB_buttonRight,
.mCS-inset-3.mCSB_scrollTools .mCSB_buttonRight,
.mCS-inset.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -40px -128px;
}
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
}
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.85);
}
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.9);
}
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_draggerRail,
.mCS-inset-dark.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.1);
}
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_buttonUp,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_buttonUp,
.mCS-inset-dark.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -112px -72px;
}
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_buttonDown,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_buttonDown,
.mCS-inset-dark.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -112px -92px;
}
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_buttonLeft,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_buttonLeft,
.mCS-inset-dark.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -120px -112px;
}
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_buttonRight,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_buttonRight,
.mCS-inset-dark.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -120px -128px;
}
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail,
.mCS-inset-2.mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail {
  border-color: #000;
  border-color: rgba(0, 0, 0, 0.2);
}
.mCS-inset-3.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.6);
}
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
}
.mCS-inset-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
}
.mCS-inset-3.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.85);
}
.mCS-inset-3.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-inset-3.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.9);
}
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.75);
}
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.85);
}
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
}
.wrapper {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: block;
  height: 100% !important;
  scroll-snap-type: mandatory;
}
.container {
  max-width: 1735px;
  margin: 0 auto;
  display: block;
}

.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  object-fit: cover;
  background-size: cover;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  overflow: hidden;
}

.banner .banner_content {
  z-index: 10;
}

nav li {
  transition: 0.3s ease all;
}

.banner:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.58);
  display: block;
  z-index: 1;
}

video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.banner_content > a {
  display: block;
  margin: 0 0 5px 0;
  text-align: center;
}
.banner2 {
  background: #bbbc7a url('images/banner2.png') no-repeat center center fixed;
  position: relative;
  width: 100%;
  height: 75vh;
  background-size: cover;
  scroll-snap-align: start;
  display: flex;
  flex-flow: column wrap;
}
.banner2 span {
  font-weight: 700;
}

.banner3 {
  background: #bbbc7a url('images/banner2.png') no-repeat center center fixed;
  position: relative;
  width: 100%;
  height: 50vh;
  background-size: cover;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
}

.banner3 .banner2-content h3 {
  font-size: 49px;
  line-height: 52px;
  color: #fff;
  font-weight: 500;
  display: inline-block;
  letter-spacing: 0.4px;
  margin-top: 40px;
}

.banner3-content p {
  margin-bottom: 1em;
  font-size: 1.25rem;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  padding: 0 0 15px 0;
  letter-spacing: 0.3px;
  font-weight: 300;
  text-align: left;
}
.banner3-content a.btn {
  font-size: 1.15rem;
  line-height: 50px;
  color: #ffffff;
  /* font-family: 'MyriadPro-Regular'; */
  font-weight: 400;
  text-align: center;
  border: 1px solid #fff;
  letter-spacing: 0px;
  margin: 0px 50px 20px 0px;
  display: inline;
  padding: 10px 40px;
}

.text-banner3 {
  padding: 10px 0 0 0 !important;
  font-weight: 700 !important;
}

.banner2-content {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  align-items: center;
  align-content: center;
  height: 100%;
  margin: 1em 5em;
  padding: 0;
}

.banner2-content--links {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .banner2-content {
    width: 65%;
  }
}

@media screen and (min-width: 1100px) {
  .banner2-content {
    width: 45%;
  }
}

@media screen and (min-width: 1300px) {
  .banner3 {
    height: 70vh;
  }
}
@media screen and (min-width: 1400px) {
  .banner3 {
    height: 60vh;
  }
}

@media screen and (min-width: 1440px) {
  .banner2-content {
    width: 35%;
  }
}

@media screen and (min-width: 768px) {
  .banner2-content--links {
    justify-content: space-evenly;
  }
}

.banner2-content--links a {
  width: calc(95% / 1);
  margin: 0.25em 0 !important;
  padding: 0.7em !important;
  line-height: 1.75em !important;
  font-size: 1.12rem !important;
}

@media screen and (min-width: 768px) {
  .banner2-content--links a {
    width: calc(95% / 3);
    font-size: 1.01rem !important;
  }
}

.banner2-content p {
  margin-bottom: 1em;
  font-size: 1.25rem;
  line-height: 1.25em;
  color: #ffffff;
  font-weight: 500;
  padding: 0;
  letter-spacing: 0.3px;
  font-weight: 300;
  text-align: left;
}

.banner2-content img {
  height: 250px;
  margin-right: 50px;
}
.banner3-content {
  width: 100%;
  display: flex;
  height: 100%;
}
.banner3-content div {
  width: calc(100% / 3);
  padding: 0 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner3-content h3 {
  font-size: 49px;
  line-height: 52px;
  color: #fff;
  font-weight: 500;
  display: inline-block;
  letter-spacing: 0.4px;
  margin-top: 40px;
}
.banner3-img1 {
  background-image: url('images/Pugseal2.jpg');
  background-size: cover;
  background-position: 22% 100%;
}
.banner3-img2 {
  background-image: url('images/Pugseal1.jpg');
  background-size: cover;
  background-position: 72% 100%;
}

.banner2-content h1 {
  font-size: 3rem;
  line-height: 1.75em;
  color: #ffffff;
  padding: 0;
  letter-spacing: -1.3px;
  font-weight: 500;
}

.banner2-content a.btn {
  font-size: 23.73px;
  line-height: 50px;
  color: #ffffff; /* font-family: 'MyriadPro-Regular'; */
  font-weight: 400;
  text-align: center;
  border: 1px solid #fff;
  letter-spacing: 0px;
  margin: 0px 37px 20px 0px;
  display: inline;
  padding: 10px 40px;
}

.banner2-content a:last-child {
  padding: 10px 26px;
}

.banner2-content a:nth-child(2) {
  padding: 10px 53px;
}

.calendario-content {
  padding: 10em 0;
}

.calendario-content h1 {
  font-size: 3rem;
  line-height: 1.75em;
  color: #bbbc7a;
  padding: 0;
  letter-spacing: -1.3px;
  font-weight: 500;
  padding: 0;
  margin: 0 2em;
}

.enero-content {
  padding: 58px 100px 0px 30px;
}
.enero-content .enero-btn, .calendar-cont .enero-btn {
  display: block;
  text-align: center;
  vertical-align: middle;
  font-size: 34.71px;
  line-height: 45px;
  height: 45px;
  width: 250px;
  color: #131410;
  font-weight: 500;
  background: #bbbc7a;
  margin: 0 0 39px 25px;
  padding: 0 0.5em;
}
.enero-content .enero-btn.btn2 {
  width: 165px;
}
.enero-link-main {
  display: block;
  padding: 0 0 53px 0;
  /* margin: 0 -25px; */
}
.enero-link-main li {
  width: calc(100% / 2);
  float: left;
  display: block;
  height: 100%;
  /*padding: 0 25px;*/
  position: relative;
}
.enero-content.julio.glide__slide.glide__slide {
  margin-right: -423px !important;
}

.enero-links-top {
  border: 1px solid #bbbc7a;
  height: 100%;
  min-height: 265px;
}
.quedan {
  border-bottom: 1px solid #bbbc7a;
  display: flex;
  flex-flow: row;
}

.quedan a {
  margin: 0;
  padding: 0.5em;
  border-left: 1px solid #bbbc7a;
  /*height: 10.5vh;
  width: 53%;*/
}
.quedan span {
  display: flex;
  font-size: 60px;
  line-height: 80px;
  color: #bbbc7a;
  font-weight: 500;
  min-width: 120px;
  text-align: center;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}
.quedan-lugares {
  display: flex;
  align-items: center;
  font-size: 25.04px;
  line-height: 27px;
  color: #bbbc7a;
  font-weight: 700;
  padding: 37px 0 37px 0;
  vertical-align: top;
  text-align: center;
  
}
.quedan-lugares.active {
  color: #fff;
}
.enrique-olvera {
  padding: 1.5em;
}
@media screen and (min-width:991px){
  .enrique-olvera{

  min-height: 260px;
  }
}
.enrique-olvera-para {
  font-size: 18px;
  line-height: 24px;
  color: #bbbc7a;
  font-weight: 600;
  display: inline-block;
  font-weight: 100;
}
.enrique-olvera-para-movil {
  font-size: 18px;
  line-height: 24px;
  color: #bbbc7a;
  font-weight: 600;
  display: inline-block;
  font-weight: 100;
  display: none;
  padding: 10px;
  
}
.enrique-olvera-para-movil a {
  color: #bbbc7a;
  text-decoration: underline;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 500;
}
.enrique-olvera-para a {
  color: #bbbc7a;
  text-decoration: underline;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 500;
}
.quedan-lugares {
  font-size: 25.04px;
  line-height: 27px;
  color: #bbbc7a;
  font-weight: 700;
  padding: 37px 0 37px 0;
  vertical-align: top;
  text-align: center;
  
}
.quedan-lugares.active {
  color: #fff;
}
.quedan-lugares-movil {
  display: inline-block;
  font-size: 25.04px;
  line-height: 27px;
  color: #bbbc7a;
  font-weight: 700;
  vertical-align: top;
  text-align: center;
}
.quedan-lugares-movil.active {
  color: #fff;
}
.quedan-lugares-movil {
  display: none;
}
.enero-links-bottom {
display: none;
}
.enero-links-bottom figure {
}
.enero-links-bottom figure amp-img {
  width: 100% !important;
}
.horizontalvertical_scroll {
  overflow: auto;
}
.blk {
  padding: 0;
  width: 1000px;
}
.quedan .enrique-olvera-para.enrique-olvera .quedan-lugares {
  display: none;
}
.content-calendario {
  width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content: space-between;
}

.swipe-icon {
  width: 30px;
  margin: 0;
}
/* glide */

.glide {
  position: relative;
  box-sizing: border-box;
  background-color: black;
  width: 76%;
  padding: 30px;
  margin: 0 auto;
  /* height: 700px; */
}

.glide * {
  box-sizing: inherit;
}

.glide__track {
  overflow: scroll;
}

.glide__track::-webkit-scrollbar {
  width: 0 !important;
}

.glide__slides {
  position: relative;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  /* overflow: overlay; */
  padding: 0;
  /* white-space: nowrap; */
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
  align-content: center;
  margin-left: 70px;
}

.glide__slides--dragging {
  user-select: none;
}

.glide__slide {
  /* width: calc(100%/2); */
  height: 93%;
  flex-shrink: 0;
  white-space: normal;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.glide__arrows {
  -webkit-touch-callout: none;
  user-select: none;
}

.glide__bullets {
  -webkit-touch-callout: none;
  user-select: none;
}

.glide--rtl {
  direction: rtl;
}

.slide_arrows{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 3em 0 3.5em;
}

.glide__arrow {
  display: block;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1;
}
.glide__arrow:focus {
  outline: none;
}
.glide__arrow:hover {
  border-color: #bbbc7a;
}
.glide__arrow--left {
  left: 2em;
}
.glide__arrow--right {
  right: 2em;
}
.glide__arrow--disabled {
  opacity: 0.33;
}

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%);
}

.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em;
}
.glide__bullet:focus {
  outline: none;
}
.glide__bullet:hover,
.glide__bullet:focus {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.5);
}
.glide__bullet--active {
  background-color: white;
}

.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* glide end */

/*   SLICK    */

.calendar-cont{
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
}
.enero-links{
  margin: 0 25px;
}

/*----------grid----------*/

.Ver-todos {
  display: block;
  position: absolute;
  right: 0;
  bottom: 31px;
  border: 0;
  outline: 0;
  font-size: 31px;
  line-height: 82px;
  color: #131410;
  background: #bbbc7a;
  font-weight: 700;
  text-align: center;
  display: block;
  width: 200px;
  height: 82px;
}
.grid-main .plus-btn {
  position: absolute;
  left: 20px;
  bottom: 13px;
  background: #000;
  color: #fff;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  font-size: 45px;
  line-height: 45px;
  text-align: center;
  display: none;
}
.grid-block {
  background: #141615;
  padding: 35px 15px 20px 25px;
  text-align: left;
  height: 300px;
}
.grid-block a h4 {
  letter-spacing: 0.1px;
  padding: 0 0 5px 0;
}
.grid-block a p span {
  text-decoration: underline;
  display: inline-block;
}
.grid-block h4 {
  letter-spacing: 0.1px;
  padding: 20px 0 20px 0;
}

.grid-block p a {
  text-decoration: underline;
  display: inline-block;
  color: #fff;
}
#load-more {
  float: right;
  margin: 0;
  cursor: pointer;
}
.hidden {
  visibility: hidden;
  width: 0px !important;
  height: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1em;
  background: #eee;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2));
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8cf;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28f;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child {
  border-radius: 0.5em 0 0 0.5em;
}
.button-group .button:last-child {
  border-radius: 0 0.5em 0.5em 0;
}

/* ---- isotope ---- */

.isotope {
  padding-top: 50px;
  border: 1px solid #333;
  border-top: none;
  margin: 50px 0 0 0;
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 10px;
  background: #888;
  color: #262524;
}

.element-item .name {
  position: absolute;

  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}

.element-item.alkali {
  background: #f00;
  background: hsl(0, 100%, 50%);
}
.element-item.alkaline-earth {
  background: #f80;
  background: hsl(36, 100%, 50%);
}
.element-item.lanthanoid {
  background: #ff0;
  background: hsl(72, 100%, 50%);
}
.element-item.actinoid {
  background: #0f0;
  background: hsl(108, 100%, 50%);
}
.element-item.transition {
  background: #0f8;
  background: hsl(144, 100%, 50%);
}
.element-item.post-transition {
  background: #0ff;
  background: hsl(180, 100%, 50%);
}
.element-item.metalloid {
  background: #08f;
  background: hsl(216, 100%, 50%);
}
.element-item.diatomic {
  background: #00f;
  background: hsl(252, 100%, 50%);
}
.element-item.halogen {
  background: #f0f;
  background: hsl(288, 100%, 50%);
}
.element-item.noble-gas {
  background: #f08;
  background: hsl(324, 100%, 50%);
}
.element-item {
  padding: 0;
  cursor: pointer;
}
.grid-block1 {
  display: none;
  height: 300px;
}
.grid-block1 p {
  font-size: 20px;
  line-height: 26px;
  font-weight: 100;
}
.element-item1:hover .grid-block1 {
  display: block;
}
.grid-lorem-data {
  display: block;
}
.element-item1:hover .grid-block.grid-lorem-data {
  display: none;
}

nav {
  position: sticky;
}

@media screen and (max-width: 812px) {
  nav {
    display: none;
  }
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: left;
}

nav p {
  display: none;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  padding: 0 0 0px 0;
  letter-spacing: -0.5px;
}
nav ul {
  display: block;
}
nav ul li {
  display: inline-block;
  float: left;
  padding: 0 23.3px;
}
nav ul li a {
  font-size: 29.06px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 400;
  display: block;
  letter-spacing: 0.6px;
}
.menu {
  display: none;
  cursor: pointer;
  font-size: 45px;
  text-align: center;
  line-height: 46px;
  color: #bbbc7a;
}
.sticky-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  margin-left: 30px;
}
.menu button span {
  display: block;
  margin: 5px 0 5px 0;
  position: relative;
  height: 4px;
  width: 35px;
  background: #bbbc7a;
  opacity: 1;
  left: 0;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  border-radius: 15px;
}
.menu button {
  border: 0 none;
  outline: none;
  background: no-repeat;
  cursor: pointer;
}
.open-menu {
  overflow: hidden;
}
.sidemenu {
  padding: 0;
  left: 0;
  top: 0px;
  padding: 35px;
  overflow: auto;
  width: 100%;
  background: rgb(19, 22, 22);
  transition: top 0.3s ease-in-out;
  -webkit-transition: top 0.3s ease-in-out;
  -moz-transition: padding 0.3s ease-in-out;
  -o-transition: padding 0.3s ease-in-out;
  display: none;
  z-index: 999;
  height: auto;
}
.open-menu .sidemenu {
  display: block;
}
.open-menu .menu {
  text-align: left;
  z-index: 9999;
  float: left;
}
.open-menu .menu button span:nth-child(1) {
  top: 0px;
  top: 15px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(4deg);
  transform: rotate(45deg);
}
.open-menu .menu button span:nth-child(2) {
  top: 12px;
  opacity: 0;
  right: -60px;
}
.open-menu .menu button span:nth-child(3) {
  top: 24px;
  top: -10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  font-family: 'Heebo';
  font-weight: normal;
}
/*--footer starts--*/
footer {
  background: #000;
  padding: 45px 0 53px 0;
}
.footer-logo {
  display: block;
  padding: 0 0 0 23px;
}
.footer-logo a {
  display: block;
}
.footer-right {
}
.footer-links {
  border-bottom: 1px solid #fff;
  display: block;
  padding: 0.75em 0 0.5em 0;
}
.footer-links li {
  display: inline-block;
  padding: 0 34px;
}
.footer-links li:last-child {
  padding: 0 5px 0 25px;
}
.footer-links li a {
  font-size: 20px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 400;
  display: block;
  letter-spacing: 0.2px;
}
.president-masary {
  padding: 18px 0 0px 0px;
  text-align: right;
}
.footer-right {
  text-align: right;
}
.copy-right {
  font-size: 18px;
  line-height: 65px;
  color: #fff;
  font-weight: 100;
  text-align: right;
  padding: 0;
  letter-spacing: -0.4px;
}
.foodandwines-links p {
  margin-right: 25px;
}
.foodandwines-links li {
  display: inline-block;
  padding: 0;
}
.foodandwines-links li a {
  font-size: 18.09px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.7px;
}
.foodandwine-cnt {
  font-size: 20.4px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 700;
  display: inline-block;
  margin: 0 0 0 5px;
  letter-spacing: 0.6px;
}

.foodandwine-data p {
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: -0.4px;
}
.footer-logo .foodandwine-cnt,
.footer-logo .foodandwines-links {
  display: none;
}
.footer-bottom {
  text-align: center;
}
.footer-bottom .foodandwine-data,
.footer-bottom .copy-right {
  display: none;
  float: none;
  text-align: center;
}

.button-more {
  background-color: rgba(0, 0, 0, 0.5);
  color: #bbbc7a;
  margin: 20px auto 20px auto;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
.close {
  display: none;
}
.header {
  width: 100%;
}
#btn-menu3 {
  display: none;
  position: absolute;
}
.thin {
  font-weight: 100;
}

p.text-menu.thin {
  text-align: right;
  padding: 0 0.75em;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}

.header label {
  display: none;
  margin: 3px 0;
  padding: 5px;
  position: relative;
}
.header label:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}

i {
  color: #bbbc7a;
  padding: 0 10px;
}

.menu2 ul {
  margin: 0;
  position: relative;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  position: relative;
}
.menu2 li {
  padding: 10px;
}

.menu2 li:hover {
  background: rgba(0, 0, 0, 0.3);
}

.menu2 li a {
  display: block;
  font-size: 1.75rem;
  padding: 15px 10px;
  color: #fff;
  text-decoration: none;
  position: relative;
  font-weight: 200;
}
.menu-float {
  display: none;
  width: 100%;
  transition: all 0.5s;
  font-size: 18px;
  background: rgb(0, 0, 0);
  font-weight: 300;
}

.menu-float li {
  padding: 3px 0;
  color: #fff;
  float: center;
}

.text-menu {
  font-size: 10px;
}
.btn--sell {
  border-right: 1px solid #bbbc7a;
  border-left: 1px solid #bbbc7a;
  border-bottom: 1px solid #bbbc7a;
  width: 100%;
  display: block;
  text-align: center;
  padding: 0.5em 0.75em;
  background: #000;
  font-weight: 300;
  font-size: 1.75rem;
  color: #bbbc7a;
}

@media (max-width: 812px) {
  .header label {
    display: block;
  }
}

@media only screen and (max-width: 2500px) {
  /* .enero-content.julio.glide__slide.glide__slide {
    margin-right: -950px !important;
} */
}

/*meadia query*/
@media only screen and (max-width: 1800px) {
  .container {
    padding: 0 15px;
  }
  .grid-block {
    padding: 20px;
  }
  .footer-links li {
    padding: 0 0 0 15px !important;
  }
  .footer-links li:last-child {
    padding: 0 0 0 15px;
  }
  .president-masary {
    padding: 20px 0 13px 0;
  }
  .enero-content {
    padding: 58px 53px 0 53px;
  }
  .glide {
    width: 92%;
  }
  .calendario-content h3 {
    padding: 0 0 0 5%;
  }
}

@media only screen and (max-width: 1400px) {
  .footer-links li {
    padding: 0 7px;
  }
  .foodandwine-data p,
  .footer-links li a,
  .foodandwine-cnt {
    font-size: 18px;
    line-height: 20px;
  }
  .footer-logo {
    padding: 0;
  }
  .grid-block1 p {
    font-size: 19px;
    line-height: 20px;
  }
  .glide {
    width: 88%;
  }

  .calendario-content h3 {
    padding: 0 0 0 7%;
  }
}
@media only screen and (max-width: 1300px) {
  .enero-content {
    padding: 58px 30px 0 30px;
  }
  .menu button {
    margin: 59px 0 0 30px;
  }
  h4 {
    font-size: 25px;
    line-height: 27px;
  }
  p {
    font-size: 22px;
    line-height: 24px;
  }
  .Ver-todos {
    bottom: 15px;
  }
  .grid-block1 p {
    font-size: 19px;
    line-height: 20px;
  }
  .enero-content.julio.glide__slide.glide__slide {
    margin-right: -310px !important;
  }
  .banner3 {
    height: 70vh;
  }
}

@media only screen and (max-width: 1200px) {
  h4 {
    font-size: 22px;
    line-height: 24px;
  }
  p {
    font-size: 16px;
    line-height: 20px;
  }
  .Ver-todos {
    font-size: 25px;
    height: 65px;
    line-height: 65px;
    width: 160px;
  }

  .banner_content > a {
    margin: 0 0 1vh 0;
  }
  .sticky a {
    padding-left: 30px;
  }

  .grid-block1 p {
    font-size: 18px;
    line-height: 20px;
  }

  .quedan a {
    width: auto;
    font-size: 20px;
  }

  .quedan span {
    border-left: 1px solid #bbbc7a;
  }
}

/* @media only screen and (max-width: 424px) {
	.footer-logo {
		padding: 6px 0 0 25px !important;
	}
	} */
@media only screen and (max-width: 424px) {
  .footer-logo {
    padding: 6px 0 0 25px !important;
  }
}
@media only screen and (max-width: 374px) {
  .footer-logo {
    padding: 6px 0 0 0 !important;
  }
}
@media only screen and (max-width: 1100px) {
  .calendario-content h3 {
    padding: 0 0 0 2%;
  }
  .banner3-content div {
    padding: 0 23px;
  }
  .banner3 {
    height: 85vh;
  }

  .grid-block1 p {
    font-size: 16px;
    line-height: 18px;
  }
  .footer-links li {
    display: block;
    padding: 0 0 27px 0;
  }
  .footer-links li a {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1.3px;
  }
  .footer-logo > a {
    margin: 0 0 20px 0;
  }
  .foodandwines-links {
    padding: 0 0 12px 0;
  }
  .footer-bottom {
    padding: 35px 0 0 0;
  }
  .foodandwine-data {
    padding: 0 0 20px 0;
  }
  .footer-links {
    border-bottom: 0;
    border-right: 1px solid #fff;
    padding: 0 23px 0 0;
  }
  .copy-right .foodandwine-data .foodandwine-data .foodandcnt .foodandwines-links {
    display: none;
  }
  .footer-logo .foodandwine-cnt.footer-logo .foodandwlinks {
    display: block;
  }
  footer {
    padding: 70px 25px;
  }
  .footer-logo {
    padding: 6px 0 0 0;
  }
  .footer-right {
    padding: 0 11px 0 0;
  }
  .footer-main {
    text-align: center;
  }
  .footer-bottom .foodandwine-data,
  .footer-bottom .copy-right {
    display: block;
  }
  .footer-logo .foodandwine-cnt .footer-logo .foodandwines-links {
    display: block;
    float: none;
    text-align: left;
  }

  .quedan span {
    border-right: 1px solid #bbbc7a;
  }
  .quedan a {
    border: none;
  }

  .glide {
    width: 99%;
  }
  .enero-content.julio.glide__slide.glide__slide {
    margin-right: -350px !important;
  }
}

@media only screen and (max-width: 991px) {
  .quedan{
    flex-flow: column;
  }
  .quedan-lugares {
    font-size: 24px;
    line-height: 26px;
    padding: 22px 0;
    width: 250px;
    margin: 20px 0 0 0;
  }
  .enrique-olvera {
    padding: 45px 20px 15px 20px;
  }

  .grid-main .plus-btn {
    display: block;
  }

  .element-item {
    width: 33.33% !important;
  }

  .banner_content {
    text-align: center;
    width: 745px;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .banner_content a {
    font-size: 22px;
  }
  nav ul li {
    padding: 0 25px;
  }
  .sticky a {
    padding-left: 10px;
  }

  .grid-block1 p {
    font-size: 18px;
    line-height: 20px;
  }

  .quedan a {
    font-size: 1.3rem;
    width: auto;
    height: 100%;
    border: none;
  }
  .quedan span {
    width: 100%;
  }
  .enero-content.julio.glide__slide.glide__slide {
    margin-right: -350px !important;
  }

  .banner2-content img {
    margin: 10px 0;
    width: 80%;
  }
  .menu2 li a {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 768px) {
  .banner2-content a.btn {
    font-size: 16.73px;
  }
  .banner2-content img {
    height: 200px;
  }
  nav ul li {
    padding: 5px;
  }

  .menu2 li a {
    font-size: 1.2em;
  }
  .enero-links-top {
    min-height: 370px;
  }
  .btn--sell {
    font-size: 1.5rem;
  }
  .banner3-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .banner3-content div {
    width: 100%;
    padding: 0 41px 0 41px;
  }
  .banner3-content h3 {
    font-size: 49.4px;
  }
  .banner3-content p {
    font-size: 24.25px;
  }
  .banner3-content a.btn {
    font-size: 18.73px;
  }
  .calendario-content h3 {
    padding: 0 0 0 5%;
  }
  .glide {
    width: 94%;
  }
}

@media only screen and (max-width: 767px) {
  h4 {
    font-size: 28px;
    line-height: 30px;
  }
  .menu button {
    margin: 59px 0 0 65px;
  }
  .calendario-content h3 {
    text-align: center;
    padding: 10px 0 0 0;
    display: block;
  }
  .grid-main {
    padding: 45px 0 0 0;
  }
  .enero-content .enero-btn, .calendar-cont .enero-btn {
    width: 100%;
    margin: 0px 0 25px 0;
  }
  .enero-link-main li {
    width: 100%;
    display: block;
    float: none;
    /*padding: 25px 60px;*/
  }
  .quedan {
    display: flex;
    display: -webkit-flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
  }
  .quedan span {
    padding: 10px;
    border-right: 0;
    font-size: 3em;
  }
  .enrique-olvera-para {
    padding: 12px;
  }
  .enero-content {
    padding: 20px 0 0 0;
  }
  .enrique-olvera .enrique-olvera-para .quedan .quedan-lugares {
    display: none;
  }
  .quedan-lugares {
    padding: 0;
    text-align: center;
    width: 100%;
  }
  .enrique-olvera {
    text-align: center;
    padding: 15px 0 15px 0;
  }
  .enero-content .enero-btn.btn2 {
    width: 100%;
  }
  .enero-link-main {
    padding: 0 0 25px 0;
  }
  .quedan .enrique-olvera {
    display: block;
  }
  .banner_content {
    width: 100%;
    text-align: center;
  }
  .sidemenu nav {
    display: block;
    width: 100%;
  }
  .menu {
    display: inline-block;
  }
  .element-item {
    width: 50% !important;
  }

  .menu button span {
    display: block;
  }
  nav ul {
    padding: 50px 0;
  }
  nav ul li {
    display: block;
    float: none;
    text-align: center;
    padding: 10px;
  }
  nav ul li a {
    display: block;
  }
  .banner_content > a {
    margin: 0 0 5px 0;
  }
  .menu button span {
    width: 50px;
    height: 7px;
    margin: 6px 0 5px 0;
    border-radius: 0;
  }
  .menu button {
    margin: 0 0 0 55px;
  }
  .sidemenu {
    top: 80%;
  }
  .enrique-olvera-para {
    font-size: 15px;
    display: none;
  }
  .enrique-olvera-para-movil a {
    font-size: 18px;
  }
  .quedan-lugares-movil {
    font-size: 0.5em;
  }
  .blk {
    /* width: 80vw;
		margin: 0 auto; */
    width: 60vw;
    margin: 0 4.5em 0 1em;
  }

  .mCSB_scrollTools .mCSB_draggerContainer {
    display: none;
  }
  .mCSB_scrollTools {
    width: auto;
  }
  nav p {
    display: block;
  }
  .menu2 li a {
    font-size: 20px;
  }
  .enrique-olvera-para-movil {
    display: block;
  }
  .quedan-lugares {
    display: none;
  }
  .quedan-lugares-movil {
    display: block;
    font-size: 1.5em;
    line-height: 1.3em;
  }
  .banner3-content {
    justify-content: center;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .banner2 {
    height: 100vh;
    align-items: center;
  }
  .banner3 {
    height: 60vh;
  }
  .banner3-content p {
    font-size: 1.25rem;
  }
  .banner3-content a.btn {
    font-size: 16px;
    width: 200px;
  }
  .banner3-content div {
    width: 100%;
    padding: 0 17px 0 17px;
  }

  .menu button {
    margin: 4vh 4vw 0;
  }
  .banner2-content p {
    text-align: left;
  }
  .banner2-content h1 {
    font-size: 10vw;
    line-height: 10vh;
    padding: 0 0 2vh 0;
    padding: 0 0 2vh 0;
  }

  .banner2-content a.btn {
    width: 200px;
    font-size: 16px;
    padding: 8;
  }

  .enero-link-main li {
    height: 100%;
  }
  .enero-links-top {
    min-height: 200px;
  }
  .quedan {
    height: 100%;
    margin: auto 0;
  }
  .quedan a {
    padding: 0;
    border-left: 0;
    height: 100%;
    width: auto;
  }
  .quedan span {
    border: none;
  }
  .enrique-olvera-para-movil {
    font-size: 1em;
  }
  .glide {
    width: 100%;
    padding: 0px;
    height: 100%;
  }
  .glide__arrow {
    top: 0%;
  }
  .calendario-content h3 {
    margin: 20px 0;
    text-align: left;
    padding: 0 0 10px 10px;
    font-weight: 400;
    font-size: 10vw;
  }
  .banner3-content h3 {
    font-weight: 400;
    font-size: 10vw;
  }
  .swipe-icon {
    width: 20px;
  }
  .enero-content.julio.glide__slide.glide__slide {
    width: 100vw !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .banner2-content img {
    height: 200px;
    margin: 0;
    margin-bottom: 25px;
  }
  .calendario-content h1 {
    font-size: 10vw;
    margin: 1em 0.5em;
  }
  .banner2-content {
    margin: 0 1.5em;
  }
  .calendario-content {
    padding: 1em 0;
  }

  .banner2-content--links {
    flex-flow: column;
  }
}

@media only screen and (max-width: 599px) {
  .grid-block {
    text-align: center;
  }
  .enero-link-main li {
    padding: 25px 0;
  }
  .menu button span {
    width: 40px;
    height: 5px;
  }
  .menu button {
    margin: 0;
  }
  .open-menu .menu button {
    margin: 15px 0 0 15px;
  }
  .banner_content > a amp-img {
    width: 300px !important;
    height: 125px !important;
  }

  .open-menu .menu button span:nth-child(1) {
    top: 11px;
  }
  .banner2-content a.btn {
    display: block;
  }
}
@media only screen and (max-width: 479px) {
  .grid-main .plus-btn {
    font-size: 40px;
    line-height: 40px;
    height: 40px;
    width: 40px;
  }
  .Ver-todos {
    font-size: 30px;
    height: 65px;
    line-height: 65px;
  }
  .enero-link-main li {
    padding: 25px 0;
  }
  nav ul li a {
    font-size: 22px;
    line-height: 24px;
  }
  .sidemenu {
    padding: 15px;
  }
  .element-item {
    width: 100% !important;
  }
  .mobile-content {
    height: auto !important;
  }
  .banner_content > a amp-img {
    width: 250px !important;
    height: 120px !important;
  }
  .banner_content .i-amphtml-layout-size-defined .i-amphtml-fill-content {
    width: 100% !important;
    object-fit: cover !important;
  }
}
@media only screen and (max-width: 414px) {
  .banner3 {
    height: 90vh;
  }
}
@media only screen and (max-width: 375px) {
  .banner2 {
    height: 120vh;
  }
  .banner3 {
    height: 100vh;
  }
}

@media only screen and (max-width: 320px) {
  footer {
    padding: 0;
  }
  .banner2 {
    height: 145vh;
  }
  .banner3 {
    height: 110vh;
  }
}

.hotel-sede-btn {
  text-align: center !important;
}

.sponsors {
  width: 100%;
  text-align: right;
}

.sponsors ul {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  margin: 0;
  padding: 0;
}

.sponsors ul li {
  width: calc(30% / 3);
  margin: 0;
  padding: 0 0.25em;
  display: block;
}

.sponsors ul li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sponsors {
  width: 100%;
  text-align: right;
  margin: 0 auto 0.75em;
  padding: 0.75em 0.75em 1em 0.75em;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: relative;
}

.sponsors ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.sponsors ul li {
  width: 75%;
  margin: 3em auto;
  padding: 0;
  display: block;
}

@media screen and (min-width: 768px) {
  .sponsors ul li {
    width: calc(75% / 3);
    margin: 1em;
  }
}

@media screen and (min-width: 1024px) {
  .sponsors ul li {
    width: calc(50% / 3);
    margin: 0;
  }
}

@media screen and (min-width: 1100px) {
  .sponsors ul li {
    width: calc(40% / 3);
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .sponsors ul li {
    width: calc(35% / 3);
    margin: 0;
  }
}

.sponsors ul li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  .footer-links {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
  }
}

.table-chefs-left img {
  width: 50%;
}
@media screen and (max-width: 425px) {
  .foodandwines-links li:nth-child(2) {
    width: 100%;
  }
}

.desaparece{
  visibility: hidden;
  user-select: none;
}