*{margin:0; padding:0; box-sizing:border-box;}
         
         article,aside,footer,hgroup,figure {display: block; padding: 0; margin: 0; }
         input{ -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none;-o-appearance: none; appearance: none; border-radius:0; }
       
         h1  { font-size: 42.19px; line-height:45px; font-family:  'Heebo', sans-serif;font-weight: 500; color: #ffffff;}
         h2  { font-size: 29.42px; line-height:32px;font-family:  'Heebo', sans-serif;font-weight: 500; color: #ffffff;}
         h3 {display:inline-block;font-size: 26px;line-height: 28px;font-family: 'Heebo', sans-serif;font-weight: bold;color: #c60000;}
         h4{ font-size: 24px; line-height: 26px;font-family: 'Heebo', sans-serif;font-weight: bold; text-align: center; color: #7b94a4;}
         h5  {font-size: 22px;line-height: 24px;font-family: 'Heebo', sans-serif;font-weight: bold;color: #dd2b2b;margin: 0 0 0 23px;}
         h6 {font-family: 'Heebo', sans-serif;font-size: 20px;line-height: 25px;color: #c51c1d;font-weight:bold;padding:0 0 10px 0;}
         p   {font-size:26.09px;line-height: 1.25;font-family:  'Heebo', sans-serif;color: #fff;padding: 0 0 0px 0;}
       
         
       
         
 
       
         .calendario-content_contact{font-size: 42px;line-height: 48px;color: #bbbc7a;font-family:  'Heebo' sans-serif;font-weight: 500;display: inline-block;padding: 0 0 0 0px;letter-spacing: 1.1px; padding-top: 30px;}
         .content_contact{
            font-size: 42px;
            line-height: 48px;
            color: #bbbc7a;
            font-family:  'Heebo' sans-serif;
            font-weight: 500;
            display: inline-block;
            padding: 0 0 0 32px;
            letter-spacing: 1.1px; 
            padding-top: 30px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
         }
         .table-chefs-main{padding: 49px 0 0 0;}
         .table-contact-main{
            border: #bbbc7a solid 1px ;
            margin: 3em 1em 3em 1em;
    
         }
         .table-chefs-left{display: inline-block;width: 50%;}
         .table-contacto-left {
            display: inline-block !important;
            width: 50%;
            padding: 1em 0.5em 1.5em 2em !important;
            border-top:  solid 1px;
            text-align: left!important;
        }
        .table-contacto_left ul{
            font-size: 20px !important;
            font-weight: normal !important;
            padding-top: 0!important;
            color: #777!important;
            text-align: left;
            justify-content: left!important;
        }
        .table-contacto-left h3{  
            padding: 1em 0 1em 0 !important;
            color: #bbbc7a !important;
            font-size: 30px;
        }
        .table-contacto-left h2{  
            font-size: 25px;
            /* line-height: 10px !important; */
        }
        .table-contacto-right h2{  
            padding: 0 2em 0 0 !important;
            text-align: left !important;
            font-size: 25px;
        }
        .table-contacto-right h3{  
            padding: 1em 1em 1em 0 !important;
            text-align: left !important;
            color: #bbbc7a !important;
            font-size: 30px;
        }
         .table-chefs-right{display: inline-block;width: 50%;padding: 0;}
         .table-contacto-right{
            display: inline-block !important;
            width: 50%;
            /* padding: 4rem !important; */
            padding: 1em 0 1.5em 2em !important;
            border: #bbbc7a solid 1px;
        }
         .table-chefs-right h1{padding: 0 0 3px 25px;letter-spacing: 0.5px;font-weight: 400;}
         .table-chefs-right p{padding: 0 183px 45px 25px;letter-spacing: 0px;font-family:'Heebo' sans-serif; font-weight: 100;}
         .table-chefs-right h2{padding: 0px 0 26px 23px;letter-spacing: 0.7px;font-weight: 400;}
     
         
       
         
         /*------------media query----------------*/
        
         @media only screen and (max-width:1200px){
         .table-chefs-left figure amp-img{height: 645px !important;}
         h1{font-size: 34px;line-height: 36px;}
         p{font-size: 22px;line-height: 24px;}
         .table-chefs-right > p{padding: 0 0 15px 27px;line-height: 1.25;}
        
         }
         @media only screen and (max-width:1024px){
         p{font-size: 20px;line-height: 22px;}
         .table-chefs-right{padding: 0 10px;}
         .table-chefs-left figure amp-img{height: 580px !important;}
         }
         @media only screen and (max-width:991px){
         .menu button{margin: 59px 0 0 15px;}
         .table-chefs-left{display: block;width: 100%;position: relative;float: none;}
         .table-chefs-right{display: block;width: 100%;float: none;padding: 10px 15px;}
         .table-chefs-right h1{padding: 0 0 3px 0;}
         .table-chefs-right > p{padding: 0 0 15px 0;line-height: 1.25;}
         .table-chefs-right h2{padding: 0 0 15px 0;}
         .quedan span{font-size: 50px;line-height: 54px;padding: 8px 0;width: 100%;}
         .quedan-lugares{display:none}
         .enrique-olvera-para-movil{display:block; border-left: 1px solid #bbbc7a; padding: 0px;}
         .quedan p {padding: 0px; padding: 8px;}
         .enrique-olvera-para{display:none;}
         .quedan-lugares-movil{display:block;}
         .enrique-olvera{padding: 15px 20px 15px 20px;}
         .calendario-data-main{position: absolute;left: 64px;top: 64px;z-index: 9;}
         .contacto-data-main{
            position: absolute;
            left: 64px;
            top: 64px;
            z-index: 9;
        }
       

         .form-contact-input{
            width: 10px!important;
        }
         
}
         /*    .enero-link-main li.enero-link-data1{display: none;}*/
         
         @media only screen and (max-width:767px){

         }
         @media only screen and (max-width:599px){

         }
         @media only screen and (max-width:479px){
            .wpforms-field-medium{ 
                width: 15em !important;
            }
            .table-chefs-right h2{
                font-size: 22px;
            }
            .table-chefs-left h2{
                font-size: 22px;
            }
            .table-contacto-left h3{  
                font-size: 20px !important;
            }
            .table-contacto-right h3{  
                font-size: 20px !important;
            }
         }

         @media only screen and (max-width: 390px) {
            .wpforms-field-medium{ 
                font-size: 18px !important;
                width: 13em !important;
              
            }
            .contact_left_p{
                font-size: 15px !important;
                
            }
            .table-chefs-right h2{
                font-size: 18px;
            }
            .table-chefs-left h2{
                font-size: 18px;
            }
        }

        @media only screen and (max-width: 350px) {

            .wpforms-field-medium{ 
                font-size: 15px !important;
                width: 13em !important;
              
            }
        }

@media only screen and (min-width: 768px) {

    .wpforms-field-medium{ 
             
        width: 20em !important;
      
    }
}
         
.contacto-content h3{
    font-size: 42px;
    line-height: 48px;
    color: #bbbc7a;
    font-family:  'Heebo' sans-serif;
    font-weight: 500;
    display: inline-block;
    padding: 0 0 0 32px;
    letter-spacing: 1.1px; 
    padding-top: 30px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.contact_left_p{
    font-size: 20px;
    font-weight: normal !important;
    padding-top: 0!important;
    color: #777!important;
    text-align: left;
}
.table-contacto_left ul{
    font-size: 20px !important;
    font-weight: normal !important;
    padding-top: 0!important;
    color: #777!important;
    text-align: left;
    justify-content: left!important;
}
.form-contacto{
    font-size: 20px !important;
}

.wpforms-field{
    padding-top: 1.5em!important;
}



.wpforms-field-medium{ 
    height: 30px;
    width: 20em;
    border-radius: 10px;
    background: #fff;
    border: none;
    transition: background 0.5s;
    padding: 0.5em;
    font-size: 1em;
}

.wpforms-field-medium:hover{
    background-color: #bbbc7a;
}
.form-contact-text{
    border-radius: 10px;
    background: #fff;
    border: none;
    transition: background 0.5s;
}

.form-contacto textarea{
    height: 300px;
}
/* .form-contact-text:hover{
    background-color: #bbbc7a;
} */

.form-contact-btn{
    width:100px; 
    height:50px; 
    background-color: transparent; 
    color:#bbbc7a; 
    border: solid 1px #bbbc7a; 
    font-size:20px;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.wpforms-field-hp {
    display: none;
}

.wpforms-confirmation-container-full p{
    color: #bbbc7a;
    font-weight: bold;
    padding: 1em 1em 0 0;
    /* padding-right: 1em; */
}