.sponsors {
  width: 100%;
  text-align: right;
  margin: 0 auto 0.75em;
  padding: 0.75em 0.75em 1em 0.75em;
  border-bottom: 1px solid #fff;
  position: relative;
}


.sponsors ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.sponsors ul li {
  width: 75%;
  margin: 3em auto;
  padding: 0;
  display: block;
}

@media screen and (min-width: 768px) {
  .sponsors ul li {
    width: calc(75% / 3);
    margin: 1em !important;
  }
}

@media screen and (min-width: 1024px) {
  .sponsors ul li {
    width: calc(50% / 3);
    margin: 0;
  }
}

@media screen and (min-width: 1100px) {
  .sponsors ul li {
    width: calc(40% / 3);
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .sponsors ul li {
    width: calc(35% / 3);
    margin: 0;
  }
}

.sponsors ul li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  .footer-links {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
  }
}

@media screen and (max-width: 425px){
	.foodandwines-links li:nth-child(2){
		width: 100%;
	}
}
