
/* Only Varibales */


.sponsors{text-align:right;margin:0 auto .75em;padding:.75em .75em 1em;border-bottom:1px solid #fff}.sponsors,.sponsors ul{width:100%;position:relative}.sponsors ul{display:flex;flex-flow:row wrap;justify-content:space-evenly;align-content:center;align-items:center;height:100%;margin:0;padding:0}.sponsors ul li{width:75%;margin:3em auto;padding:0;display:block}.sponsors ul li img{width:100%;height:100%;-o-object-fit:contain;object-fit:contain}@media screen and (min-width:768px){.sponsors ul li{width:25%;margin:1em!important}.footer-links{border-bottom:1px solid hsla(0,0%,100%,.1)!important}}@media screen and (min-width:1024px){.sponsors ul li{width:16.66667%;margin:0}}@media screen and (min-width:1100px){.sponsors ul li{width:13.33333%;margin:0}}@media screen and (min-width:1440px){.sponsors ul li{width:11.66667%;margin:0}}@media screen and (max-width:425px){.foodandwines-links li:nth-child(2){width:100%}}
